$danger:#FF304F;
$secondary:#CACACA;
$primary:#015668;
$success:#06648C;
$info:#0F81C7;
$warning:#0DE2EA;
$light:#ececec;
$dark:#222222;
$spacer:1rem;
$border-width:0;
$btn-border-radius:0;

$headings-font-family:'Playfair Display';
$font-family-base: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";